In [1]:
import pandas as pd

In [2]:
dados = {
    'Marca_A': [1, 25, 99],
    'Marca_B': [90, 11, 23],
    'Marca_C': [23, 78, 44],
    'Marca_D': [30, 33, 1]
}
df = pd.DataFrame(data = dados, index = [2018, 1029, 2020])

In [3]:
df

      Marca_A  Marca_B  Marca_C  Marca_D
2018        1       90       23       30
1029       25       11       78       33
2020       99       23       44        1

In [4]:
df.T

         2018  1029  2020
Marca_A     1    25    99
Marca_B    90    11    23
Marca_C    23    78    44
Marca_D    30    33     1

In [9]:
df.shape

(3, 4)

In [5]:
df.axes

[Int64Index([2018, 1029, 2020], dtype='int64'),
 Index(['Marca_A', 'Marca_B', 'Marca_C', 'Marca_D'], dtype='object')]

In [6]:
df.dtypes

Marca_A    int64
Marca_B    int64
Marca_C    int64
Marca_D    int64
dtype: object

In [7]:
df.empty

False

In [8]:
df.ndim

2

In [11]:
df.size

12

In [12]:
df.values

array([[ 1, 90, 23, 30],
       [25, 11, 78, 33],
       [99, 23, 44,  1]], dtype=int64)

In [13]:
type(df.values)

numpy.ndarray

In [14]:
df.head()

      Marca_A  Marca_B  Marca_C  Marca_D
2018        1       90       23       30
1029       25       11       78       33
2020       99       23       44        1

In [15]:
df.tail()

      Marca_A  Marca_B  Marca_C  Marca_D
2018        1       90       23       30
1029       25       11       78       33
2020       99       23       44        1