# Renomeando colunas e linhas

In [1]:
import pandas as pd

In [2]:
dados = {
    'MARCA_A': [1, 25, 99],
    'MARCA_B': [90, 11, 23],
    'MARCA_C': [23, 78, 44],
}
df = pd.DataFrame(data = dados, index = [2018, 2019, 2020])

In [3]:
df

      MARCA_A  MARCA_B  MARCA_C
2018        1       90       23
2019       25       11       78
2020       99       23       44

In [6]:
df.rename(
    columns={
        'MARCA_A': 'Marca A',
        'MARCA_B': 'Marca B',
        'MARCA_C': 'Marca C'
    })

      Marca A  Marca B  Marca C
2018        1       90       23
2019       25       11       78
2020       99       23       44

In [7]:
df.rename(index = {2018:1, 2019:2, 2020:3})

   MARCA_A  MARCA_B  MARCA_C
1        1       90       23
2       25       11       78
3       99       23       44

In [9]:
'MARCA_A'.split('_')

['MARCA', 'A']

In [11]:
df

      MARCA_A  MARCA_B  MARCA_C
2018        1       90       23
2019       25       11       78
2020       99       23       44

In [10]:
"".join('MARCA_A' .split('_'))

'MARCAA'

In [14]:
df.rename(columns= lambda coluna:" ".join(coluna.title().split('_')))

      Marca A  Marca B  Marca C
2018        1       90       23
2019       25       11       78
2020       99       23       44