# Sufixo e prefixo em DataFrame e Series

### **DaFrame**

- Para DataFrame, os r처tulos(labels) das colunas s찾o prefixados.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.normal(1, 0.5, 50). reshape(10, 5),
                  columns=list('ABCDE'))

In [3]:
df

          A         B         C         D         E
0  1.139204  0.126330  0.566807  2.283061  1.105774
1  0.430363  1.342121  1.465658  1.307870  1.148934
2  0.476705  1.506474  1.800736  1.651770  1.248031
3  1.191550  0.987705  0.514258  1.305851  0.558647
4  0.566136  0.902945  0.941417  0.892334  1.218666
5  0.497940  0.651243  0.887184  0.175693  0.979278
6  0.435509  0.437500  0.885382  0.947628  1.341607
7  0.837433  1.502998  0.394789  0.266878  0.636896
8  1.527747  2.052222  0.929024  0.416443  1.225134
9  0.952123  0.923999  1.191205  0.189074  0.578727

In [5]:
df.add_prefix(prefix= 'coluna ')

   coluna A  coluna B  coluna C  coluna D  coluna E
0  1.139204  0.126330  0.566807  2.283061  1.105774
1  0.430363  1.342121  1.465658  1.307870  1.148934
2  0.476705  1.506474  1.800736  1.651770  1.248031
3  1.191550  0.987705  0.514258  1.305851  0.558647
4  0.566136  0.902945  0.941417  0.892334  1.218666
5  0.497940  0.651243  0.887184  0.175693  0.979278
6  0.435509  0.437500  0.885382  0.947628  1.341607
7  0.837433  1.502998  0.394789  0.266878  0.636896
8  1.527747  2.052222  0.929024  0.416443  1.225134
9  0.952123  0.923999  1.191205  0.189074  0.578727

In [7]:
df.add_suffix(suffix= ' coluna')

   A coluna  B coluna  C coluna  D coluna  E coluna
0  1.139204  0.126330  0.566807  2.283061  1.105774
1  0.430363  1.342121  1.465658  1.307870  1.148934
2  0.476705  1.506474  1.800736  1.651770  1.248031
3  1.191550  0.987705  0.514258  1.305851  0.558647
4  0.566136  0.902945  0.941417  0.892334  1.218666
5  0.497940  0.651243  0.887184  0.175693  0.979278
6  0.435509  0.437500  0.885382  0.947628  1.341607
7  0.837433  1.502998  0.394789  0.266878  0.636896
8  1.527747  2.052222  0.929024  0.416443  1.225134
9  0.952123  0.923999  1.191205  0.189074  0.578727

Series

- Para Series, os r처toulos de linhas s찾o prefixados

In [8]:
series = pd.Series([1,2,3], ['2020', '2021', '2022'])

In [10]:
series

2020    1
2021    2
2022    3
dtype: int64

In [12]:
series.add_prefix(prefix= 'Ano ')

Ano 2020    1
Ano 2021    2
Ano 2022    3
dtype: int64

In [13]:
serie = pd.Series([10, 11, 12], [2020, 2021, 2022])

In [14]:
series

2020    1
2021    2
2022    3
dtype: int64

In [16]:
serie.add_suffix(suffix='_Ano')

2020_Ano    10
2021_Ano    11
2022_Ano    12
dtype: int64